[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/madhu050700
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/madhu050700
	label-Verified = -1..+1 group user/madhu050700
	push = group user/madhu050700
	read = group user/madhu050700
	rebase = group user/madhu050700
	removeReviewer = group user/madhu050700
	submit = group user/madhu050700
[access "refs/heads/*"]
	create = group user/madhu050700
	push = +force group user/madhu050700
	pushMerge = group user/madhu050700
	read = group user/madhu050700
[access "refs/tags/*"]
	push = group user/madhu050700
	push = +force group user/madhu050700
